.manage_test_list {
}

.clear{
 clear:both;
 height:1px;	
}

.clear5{
 clear:both;
 height:5px;	
}

.clear10{
 clear:both;
 height:10px;	
}

.clear20{
 clear:both;
 height:20px;	
}



.link-add {
	bottom: 10px;
	cursor: pointer;
	float: left;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	left: 14px;
	position: absolute;
	width: 200px;
	color:#00F;
	text-decoration:underline;
}
.link-remove {
	margin-top: -17px;
	cursor: pointer;
	float: right;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	width: 200px;
	color:#00F;
	text-decoration:underline;
	margin-right:100px;

}

table th, table td{
padding:10px 6px; 9px;	
}

.time_scheduler_label {
	font-weight:bold; 
	font-size:11px;
	color:#090;	
}

.timeblocklabels {
	float:left; 
	height:20px; 
	border-bottom: 
	solid 1px #ffffff;	
	padding-left:7px;
}
.timedateslabel {
	width:80px;
	position:relative; 
	top:0px; 
	padding:2px; 
	margin:5px; 
	height:10px;
}

.timeblock{
	left:175px;
	position:relative;
	}
